.icon-room { 
        background-size: 30px;
	width: 75px !important;
}
.app-header, #footer-user .info, #dashboard {
    background: rgba(0, 0, 0, 0.75) !important;
}
#volume .slider {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: 0px -19px 0px 6px rgba(0, 0, 0, 0), 0px 18px 0px 6px rgba(0, 0, 0, 0) !important;
}
#footer, .app-right {
    background: rgba(0, 0, 0, 0.75) !important;
}
#playlist-panel, #user-view, #waitlist .list .sortable-placeholder, #room-settings {
    background: rgba(0, 0, 0, 0.95) !important;
}
#now-playing-bar, #history-button, #rs-skip-button, #playlist-menu, #user-menu, #room-settings-menu, .app-right .friends, .badge-box {
    background: none !important;
}
#app-menu, #app-menu .list {
    background: rgba(0, 0, 0, 0.95) !important;
}
#room .app-right {
    background: rgba(0,0,0,0.75) !important;
}
#app-menu .list .rcsunload:hover, #app-menu .list .item:hover {
    background: rgba(49,49,49, 0.8)!important;
}
#user-lists .header .button.staff.selected {
    border-bottom: 1px solid #5D62A5 !important;
}
#chat .emote, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome, #chat .cm, #chat .emote:nth-child(2n+1),#chat .message:nth-child(2n+1), #chat .moderation:nth-child(2n+1), #chat .skip:nth-child(2n+1), #chat .system:nth-child(2n+1), #chat .update:nth-child(2n+1), #chat .welcome:nth-child(2n+1), #chat .cm:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.25) !important;
}
#chat .mention, #chat .mention:nth-child(2n+1),  #chat .mention.is-dj, #chat .mention.is-staff, #chat .mention.is-dj:nth-child(2n+1), #chat .mention.is-staff:nth-child(2n+1) {
    background: linear-gradient(to left, rgba(49,49,49, 0.8) 0%,rgba(0,0,0,0.75) 100%) !important;
    border-left: rgba(49,49,49, 0.8) 3px solid !important;
}
#chat .welcome {
    color: #5D62A5 !important;
}
#user-lists .list .user:hover, #waitlist .list .user {
	background: linear-gradient(to right, rgba(49,49,49, 0.8) 0%,rgba(0,0,0,0) 100%) !important;
}
#chat .msg .text .name, #chat .msg .text .name .name {
    color: #FFF !important;
}
#chat .focused, #room-settings .focused {
    -webkit-box-shadow: inset 0 0 0 #5D62A5!important;
    -moz-box-shadow: inset 0 0 0 #5D62A5!important;
    box-shadow: inset 0 0 0 1px #5D62A5!important;
}
#rcs-progress-container .bar {
    background: #5D62A5 !important;
}
#user-lists .list.staff .group {
    border-top: 1px solid rgba(93,98,165, 0.5) !important;
    border-bottom: 1px solid rgba(93,98,165, 0.5) !important;
    background: rgba(93,98,165, 0.2) !important;
}
#playlist-button, #playlist-menu .menu .row.selected, #playlist-activate-button, #playlist-import:hover, .media-list .row.selected, .tab-menu button.selected, #user-menu .item.selected, #room-settings-menu .item.selected {
    background: rgba(93,98,165, 0.5) !important;
}
#playlist-menu .menu .row .count, #playlist-activate-button span {
color: #FFF !important;
}
#room-bar .icon-grab, .communities .grid .cell .favorite .icon-grab {
background-position: -40px -280px !important;
}
.communities .grid .cell .bar, .communities .grid .cell .favorite, .communities .grid .cell .meta, .communities .grid .cell .meta .host, .communities .grid .cell {
background: #000 !important;
}
.communities .grid .cell:hover>.meta {
background: rgba(0, 0, 0, 0.85) !important;
}
.communities .grid .cell .meta .join {
background: rgba(93,98,165, 0.5) !important;
}
#footer-user .back, #footer-user .signup {
    background: rgba(93,98,165, 0.5) !important;
    -webkit-box-shadow: inset 0 2px 0 -1px rgba(93,98,165, 0.5) !important;
    -moz-box-shadow: inset 0 2px 0 -1px rgba(93,98,165, 0.5) !important;
    box-shadow: inset 0 2px 0 -1px rgba(93,98,165, 0.2) !important;
}
#dj-button.is-leave .left, #dj-button.is-quit .left {
background: #c42e3b !important;
}
#dj-button .left {
background: #5d62a5 !important;
}
.header-panel-button.selected, #footer-user .buttons .button.store:hover, #footer-user .buttons .button:hover, #app-menu .list .logout:hover {
    background: rgba(0, 0, 0, 0.95) !important;
}
.app-right .friends .list .row.clickable .room, #room-settings .general-settings a, #room-settings .general-settings a:visited {
    color: rgba(93,98,165, 0.8)!important;
}
.experience .xp .bar .progress, #footer-user .info .bar .progress, .experience .levels .level.earned.avatar .label {
	background: #5D62A5 !important;
}
